In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [3]:
emission = pd.read_csv('/Users/pranav/Desktop/Datathon/CarbonFootPrint/Carbon Emission.csv')

In [4]:
emission.head()

    Body Type     Sex  ...                        Cooking_With CarbonEmission
0  overweight  female  ...                   ['Stove', 'Oven']           2238
1       obese  female  ...              ['Stove', 'Microwave']           1892
2  overweight    male  ...               ['Oven', 'Microwave']           2595
3  overweight    male  ...  ['Microwave', 'Grill', 'Airfryer']           1074
4       obese  female  ...                            ['Oven']           4743

[5 rows x 20 columns]

In [10]:
emission.nunique()

Body Type                           4
Sex                                 2
Diet                                4
How Often Shower                    4
Heating Energy Source               4
Transport                           3
Vehicle Type                        5
Social Activity                     3
Monthly Grocery Bill              250
Frequency of Traveling by Air       4
Vehicle Monthly Distance Km      4003
Waste Bag Size                      4
Waste Bag Weekly Count              7
How Long TV PC Daily Hour          25
How Many New Clothes Monthly       51
How Long Internet Daily Hour       25
Energy efficiency                   3
Recycling                          16
Cooking_With                       16
CarbonEmission                   3509
dtype: int64

In [9]:
emission_copy = emission

In [12]:
mapping = {'male': 0, 'female': 1}
emission_copy['Sex'] = emission_copy['Sex'].map(mapping)

In [13]:
emission_copy.head()

    Body Type  Sex  ...                        Cooking_With CarbonEmission
0  overweight    1  ...                   ['Stove', 'Oven']           2238
1       obese    1  ...              ['Stove', 'Microwave']           1892
2  overweight    0  ...               ['Oven', 'Microwave']           2595
3  overweight    0  ...  ['Microwave', 'Grill', 'Airfryer']           1074
4       obese    1  ...                            ['Oven']           4743

[5 rows x 20 columns]

In [16]:
emission['Vehicle Type'].unique()

array([nan, 'petrol', 'diesel', 'hybrid', 'lpg', 'electric'], dtype=object)

In [23]:
##Defining all rankings for columns for ordinal encodingn later on
diet = OrdinalEncoder(categories = [['vegan', 'vegetarian', 'pescatarian', 'omnivore']])

In [24]:
temp_test = emission_copy

In [27]:
diet_encoded = diet.fit_transform(temp_test['Diet'].values.reshape(-1, 1))

In [30]:
diet_encoded = pd.Series(diet_encoded.flatten())

In [32]:
temp_test['Diet'] = diet_encoded

In [33]:
temp_test

        Body Type  ...  CarbonEmission
0      overweight  ...            2238
1           obese  ...            1892
2      overweight  ...            2595
3      overweight  ...            1074
4           obese  ...            4743
...           ...  ...             ...
9995        obese  ...            2408
9996       normal  ...            3084
9997   overweight  ...            2377
9998  underweight  ...            4574
9999        obese  ...             826

[10000 rows x 20 columns]

In [47]:
cols_to_encode = ['Body Type', 'How Often Shower', 'Heating Energy Source', 'Transport', 'Social Activity', 
                  'Frequency of Traveling by Air', 'Waste Bag Size', 'Energy efficiency']
##havent done vehicle type(nans), numeric columns, recycling, cooking with

In [48]:
temp_test['Energy efficiency'].unique()

array(['No', 'Sometimes', 'Yes'], dtype=object)

In [49]:
##Defining all orderings
body_type = [['underweight', 'normal', 'overweight', 'obese']]
shower_often = [['less frequently', 'more frequently', 'daily', 'twice a day']]
heating_energy = [['electricity', 'wood', 'natural gas', 'coal']]
transport_type = [['walk/bicycle', 'public', 'private']]
social_activity = [['never', 'sometimes', 'often']]
air_travel_freq = [['never', 'rarely', 'frequently', 'very frequently']]
waste_bag_size = [['small', 'medium', 'large', 'extra large']]
energy_efficiency = [['Yes', 'Sometimes', 'No']]

In [50]:
def encode_data(column_name: str, column_categories: list[list[str]]):
    encoder = OrdinalEncoder(categories = column_categories)
    encoded_series = encoder.fit_transform(temp_test[column_name].values.reshape(-1, 1))
    encoded_series = pd.Series(encoded_series.flatten())
    temp_test[column_name] = encoded_series

In [51]:
categories = [body_type, shower_often, heating_energy, transport_type, social_activity, air_travel_freq, waste_bag_size, energy_efficiency]

In [52]:
for i in range(8):
    encode_data(cols_to_encode[i], categories[i])

In [53]:
temp_test

      Body Type  ...  CarbonEmission
0           2.0  ...            2238
1           3.0  ...            1892
2           2.0  ...            2595
3           2.0  ...            1074
4           3.0  ...            4743
...         ...  ...             ...
9995        3.0  ...            2408
9996        1.0  ...            3084
9997        2.0  ...            2377
9998        0.0  ...            4574
9999        3.0  ...             826

[10000 rows x 20 columns]

In [54]:
ordinal_emissions = temp_test

In [55]:
ordinal_emissions['Vehicle Type'] = temp_test['Vehicle Type'].fillna('No energy usage')

In [56]:
ordinal_emissions

      Body Type  ...  CarbonEmission
0           2.0  ...            2238
1           3.0  ...            1892
2           2.0  ...            2595
3           2.0  ...            1074
4           3.0  ...            4743
...         ...  ...             ...
9995        3.0  ...            2408
9996        1.0  ...            3084
9997        2.0  ...            2377
9998        0.0  ...            4574
9999        3.0  ...             826

[10000 rows x 20 columns]

In [57]:
ordinal_emissions['Vehicle Type'].unique()

array(['No energy usage', 'petrol', 'diesel', 'hybrid', 'lpg', 'electric'],
      dtype=object)

In [58]:
vehicle_type_categories = [['No energy usage', 'electric', 'hybrid', 'lpg', 'petrol', 'diesel']]
vehic_encoder = OrdinalEncoder(categories = vehicle_type_categories)
vehic_series = vehic_encoder.fit_transform(ordinal_emissions['Vehicle Type'].values.reshape(-1, 1))
vehic_serires = pd.Series(vehic_series.flatten())
ordinal_emissions['Vehicle Type'] = vehic_series

In [59]:
ordinal_emissions

      Body Type  ...  CarbonEmission
0           2.0  ...            2238
1           3.0  ...            1892
2           2.0  ...            2595
3           2.0  ...            1074
4           3.0  ...            4743
...         ...  ...             ...
9995        3.0  ...            2408
9996        1.0  ...            3084
9997        2.0  ...            2377
9998        0.0  ...            4574
9999        3.0  ...             826

[10000 rows x 20 columns]

In [60]:
ordinal_emissions['Recycling'].unique()

array(["['Metal']", "['Paper', 'Plastic', 'Glass', 'Metal']", "['Paper']",
       "['Paper', 'Glass', 'Metal']", '[]',
       "['Paper', 'Plastic', 'Glass']", "['Glass']",
       "['Paper', 'Plastic']", "['Plastic']",
       "['Plastic', 'Glass', 'Metal']", "['Paper', 'Plastic', 'Metal']",
       "['Paper', 'Glass']", "['Paper', 'Metal']", "['Glass', 'Metal']",
       "['Plastic', 'Glass']", "['Plastic', 'Metal']"], dtype=object)

In [61]:
def array_invert(arr, top_len):
    return top_len - len(arr)

In [73]:
import ast

In [76]:
temp = ordinal_emissions['Recycling'].apply(lambda x: 4 - len(ast.literal_eval(x)))

In [78]:
ordinal_emissions['Recycling'] = ordinal_emissions['Recycling'].apply(lambda x: 4 - len(ast.literal_eval(x)))

In [79]:
ordinal_emissions

      Body Type  ...  CarbonEmission
0           2.0  ...            2238
1           3.0  ...            1892
2           2.0  ...            2595
3           2.0  ...            1074
4           3.0  ...            4743
...         ...  ...             ...
9995        3.0  ...            2408
9996        1.0  ...            3084
9997        2.0  ...            2377
9998        0.0  ...            4574
9999        3.0  ...             826

[10000 rows x 20 columns]

In [84]:
ordinal_emissions['Cooking_With'] = ordinal_emissions['Cooking_With'].apply(lambda x: len(ast.literal_eval(x)))

In [85]:
ordinal_emissions

      Body Type  Sex  Diet  ...  Recycling  Cooking_With  CarbonEmission
0           2.0    1   2.0  ...          3             2            2238
1           3.0    1   1.0  ...          3             2            1892
2           2.0    0   3.0  ...          3             2            2595
3           2.0    0   3.0  ...          0             3            1074
4           3.0    1   1.0  ...          3             1            4743
...         ...  ...   ...  ...        ...           ...             ...
9995        3.0    0   3.0  ...          4             1            2408
9996        1.0    1   0.0  ...          2             2            3084
9997        2.0    1   1.0  ...          1             3            2377
9998        0.0    0   0.0  ...          2             4            4574
9999        3.0    0   2.0  ...          1             3             826

[10000 rows x 20 columns]

In [88]:
ordinal_emissions.to_csv("Processed_Emissions.csv")